@font-face { 
    font-family: "Aileron";
    src: url("../Fonts/Aileron-Regular-webfont.ttf") format("truetype");
    font-display: swap;
}

@font-face { 
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

body {
    font-family: "Aileron", Courier, monospace;
    background-color: #B1AA9D;
    display: flex;
    justify-content: center;
    background-image: url("../Images/portfolio\(3\).png");
    background-attachment: fixed;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
}

p {
    text-align: left;
    color: #6F6C67;  
}

.color {
    text-align: center;
    color: #514b47;
    font-weight: 550;
    font-family: "Montserrat", Courier, monospace;
}

.title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

h2, h3, h4 {
    font-family: "Montserrat", Courier, monospace;
    letter-spacing: 3px;
    color: #6F6C67;
    font-size: 18px;
}

h1 {
    font-family: "Aileron", Georgia, 'Times New Roman';
    color: #fff;
    top: 2%;
    right: 2%;
    font-size: 18px;
    position: fixed;
    z-index: 6;
    font-weight: 350;
}

.projects {
    display: flex;
    justify-content: right;
    flex-flow: column wrap;
    margin: 110px 0px 40px auto;
    width: auto;
}

.project {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin: 2dvb;
    border-radius: 20px;
    padding: 20px;
    z-index: 999;
}

.project img {
    max-width: 300px;
    height: auto;
}

.project-info {
    width: 310px;
    text-align: center;
}

button {
    background-color: #B1AA9D;
    padding: 10px;
    font-weight: 450;
    border: none;
    margin-left: 10px;
    color: #231F1F;
    font-size: 14px;
}

button:hover {
    background-color: #6F6C67;
    color: #fff;
}

@media (min-width: 600px) {
    .projects {
        justify-content: center;
        margin-top: 140px;
    }

    .project img {
        max-width: 450px;
    }

    h2, h3, h4 {
        font-size: 25px;
    }

    h1 {
        font-size: 20px;
        top: 4%
    }

    .project-info {
        width: 400px;
        text-align: center;
    }
}

@media (min-width: 720px) {
    .projects {
        margin-top: 190px;
    }
}

@media (min-width: 800px) {
    .projects {
        margin-top: 180px;
    }

    h1 {
        top: 6%;
    }
}

@media (min-width: 900px) {
    .projects {
        margin-top: 230px;
    }

    .project {
        flex-flow: row nowrap;
    }

    h1 {
        top: 9%;
    }

    p {
        padding-left: 30px;
    }
}

@media (min-width: 900px) {
    .projects {
        width: 850px;
        margin-top: 280px;
    }

    body {
        justify-content: right;
    }
}

@media (min-width: 1200px) {
    h1 {
        top: 58%;
        right: 80%;
    }

    .projects {
        margin: 40px 0px 40px auto;
        width: 750px;
    }
    
    .project {
        justify-content: space-evenly;
        flex-flow: row nowrap;
    }
    
    .project-info {
        text-align: center;
        width: 310px;
    }

    .project-info {
        text-align: center;
        width: 310px;
    }

    .project img {
        max-width: 400px;
    }
}

@media (min-width: 1360px) {
    h1 {
        top: 65%;
        right: 80%;
    }

    .projects {
        margin: 40px 0px 40px auto;
        width: 850px;
    }
}